@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
html {
  padding: 0; }

body {
  background: linear-gradient(#fff, #B9B7B8);
  background-attachment: fixed;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

header {
  background-color: #080715;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px; }

header a {
  margin: 0 10px; }

h1 {
  font-size: 3em;
  color: #fff;
  font-family: "Ubuntu";
  margin: 0; }

p {
  font-size: 1.3em;
  color: #fff;
  margin: 10px 0; }

a {
  color: #fff;
  transition: .2s;
  text-decoration: none; }

a:hover {
  color: #ff005e; }

button {
  background: #B9B7B8;
  border: 1px solid #555;
  font-size: 1.4em;
  color: #555;
  font-family: 'Quicksand';
  padding: 5px 7.5px;
  margin: 20px 0px;
  font-weight: 300;
  transition: .2s; }

button:hover {
  background: #ccc; }

button:focus {
  outline: none; }

table {
  margin-bottom: 20px;
  display: inline-block;
  border-collapse: collapse;
  border: 2px solid #333; }

td {
  border: 1px solid #333;
  padding: 0px 0px;
  font-size: 2em; }

input {
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 1em;
  width: 20px;
  background: none;
  font-family: "Quicksand";
  text-align: center;
  transition: all .5s ease-in-out;
  outline: none;
  border: 1px solid transparent; }

input:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(221, 221, 221, 0.2);
  box-shadow: 0 0 5px #ff005e; }

input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(221, 221, 221, 0.4);
  box-shadow: 0 0 5px #ff005e; }

.one {
  background-color: #ff8094; }

.two {
  background-color: #ff6685; }

.three {
  background-color: #ff4d78; }

.four {
  background-color: #ff336d; }

.five {
  background-color: #ff005e; }

.six {
  background-color: #cc005c; }

.seven {
  background-color: #b30058; }

.eight {
  background-color: #990052; }

.nine {
  background-color: #80004a; }

.botbuffer {
  border-bottom: 2px solid #333; }

.vertbuffer {
  border-right: 2px solid #333; }

.status {
  font-weight: 400; }

.instructions p {
  color: #333;
  margin-top: 20px;
  font-size: 1em; }

footer {
  position: relative;
  margin-top: 50px;
  height: 100px;
  bottom: 0;
  background-color: #333;
  width: 100%; }

footer p {
  font-size: 1em;
  padding-top: 20px;
  font-weight: 400; }

@media (max-width: 1000px) {
  header {
    margin-bottom: 5px; }

  h1 {
    font-size: 2.4em; }

  p {
    font-size: 1em; }

  td {
    font-size: 1.6em; }

  button {
    font-size: 1.3em;
    margin: 15px 0;
    padding: 5px 7.5px; }

  input {
    padding: 10px; } }
@media (max-width: 768px) {
  header {
    margin-bottom: 0; }

  table {
    margin-bottom: 5px; }

  button {
    font-size: 1em;
    margin: 10px 0; }

  h1 {
    font-size: 1.8em; }

  p {
    font-size: .9em; }

  td {
    font-size: 1.1em; }

  input {
    padding: 5px; }

  footer {
    padding: 10px;
    position: relative; }

  footer p {
    font-size: .8em;
    font-weight: 400; } }

/*# sourceMappingURL=styles.css.map */
