@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,600|EB+Garamond:400|Montserrat:400)

$sans: Montserrat, Helvetica, sans-serif
$serif: EB Garamond, serif

$bgcolor: #f2d9cc

::selection
  background: #ffbf83
  color: #fff

*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

html, body, div, header, footer, h2, h1, h3, a
  margin: 0
  padding: 0
  border: 0
  outline: 0
  color: #000
  &:hover
    color: #000

body
  background-color: $bgcolor

p, span
  font-weight: 300
  font-size: 14px

a
  &:-webkit-any-link
    text-decoration: none
  &:hover
    border-bottom: 2px solid black
    text-decoration: none
  &:focus
    text-decoration: none
    color: #000
    border-bottom: 2px solid $bgcolor

section
  clear: both

section, div
  display: block

h1, h2
  clear: both
  text-transform: uppercase
  letter-spacing: .1em
  font-family: $sans

h1
  font-size: 36px
  text-align: center
  padding: 60px 0 40px 0


h2
  font-size: 28px

h3
  font-size: 20px

ul
  list-style: none
  padding: none

.wrap
  padding: 0 50px

hr
  color: #333
  border-top: 1px solid black
  max-width: 100%
  margin: 80px auto

header 
  width: 100%
  position: fixed
  padding-right: 100px
  background-color: $bgcolor
  transition: .5s

.shrink
  height: 40px

.shrink h2
  font-size: 18px
  transition: .5s
  line-height: 28px

nav 
  display: flex
  width: 100%
  height: 100px
  transition: .5s
  display: -webkit-flex
  flex-direction: row
  -webkit-flex-direction: row
  align-items: flex-end
  -webkit-align-items: flex-end
  justify-content: center
  -webkit-justify-content: center
  h2
    margin-right: auto
    transition: .5s
    line-height: 40px
    font-family: $sans
  li
    display: inline
  ul
    margin-bottom: 0
  a
    position: relative
    margin: 0
    font-weight: 600
    font-family: $sans
    text-transform: uppercase
    margin-left: 6px
    padding: 0
    font-size: 16px
    float: right
    border-bottom: 2px solid $bgcolor
    &:hover
      border-bottom: 2px solid black
      text-decoration: none
      cursor: pointer
    &:focus
      text-decoration: none
      color: #000
      border-bottom: 2px solid $bgcolor

.active
  border-bottom: 1px solid black

#intro
  padding: 200px 0 50px 0
  p
    font-size: 44px
    color: #000
    padding: 0 23px
    font-weight: 400
    text-indent: 150px
    font-family: $serif
    margin: 40px 0

.skills ul
  padding: 0
  width: 200px

.skills
  display: flex
  display: -webkit-flex
  justify-content: center
  -webkit-justify-content: center
  flex-direction: row
  -webkit-flex-direction: row

.skills h3
  font-family: $sans
  text-transform: uppercase
  font-size: 24px

.skills div ul
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

.skills li, .skills h3
  text-align: left

.right li, .right h3
  text-align: right
  padding-right: 30px

.skills li
  font-size: 20px
  font-family: $serif

#work ul
  padding: 20px 0
  text-align: center
  display: flex
  display: -webkit-flex
  flex-wrap: wrap
  -webkit-flex-wrap: wrap
  img
    width: 257px
    height: 385px
  a
    border-bottom: none
    &:hover h2
      text-decoration: underline
  h2
    font-family: $sans

.repeat li:nth-child(1) div img, .repeat li:nth-child(6) div img
  min-width: 539px

.box 
  transition: .5s
  padding-left: 23px
  height: 440px
  overflow: hidden
  h2
    font-size: 13px
    margin-top: 5px

#details
  padding-top: 150px

.button
  border: 2px solid #222
  padding: 10px 20px
  font-size: 15px
  letter-spacing: -1px
  display: block
  font-family: $sans
  margin-bottom: 20px
  width: 160px
  background-color: rgba(0,0,0,.7)
  color: $bgcolor
  transition: .3s
  &:hover
    color: #000
    background-color: rgba(0,0,0,.1)
    border-bottom: 2px solid #111

footer
  padding: 50px 0 0 0
  div
    display: flex
    flex-direction: column
    span
      font-size: 38px
      font-family: $serif
  img
    min-width: 200px
    height: 200px
    float: left
    margin-right: 10px

.quote
  align-items: center
  flex-direction: row
  padding: 20px 0 80px 0

.foot
  min-width: 280px
  height: 200px

.foot h3
  margin: 10px 0
  font-size: 16px
  text-transform: uppercase
  font-family: $serif

.foot p, .foot a
  margin-bottom: 15px
  font-family: $serif

.foot a:hover
  border-bottom: none
  text-decoration: underline

.links
  display: flex
  display: -webkit-flex
  flex-direction: row
  -webkit-flex-direction: row
  flex-wrap: wrap
  -webkit-flex-wrap: wrap
  width: 100%
  padding: 20px 0 80 0
  justify-content: center

.links a
  font-size: 16px

.clear
  clear: both

@media screen and (max-width: 768px)

  .wrap
    padding: 0 10px

  h1
    font-size: 30px

  header
    padding-right: 15px
    a
      font-size: 15px
      line-height: 35px

  nav
    height: 120px
    h2
      font-size: 13px
      line-height: 40px
    li
      a
        font-size: 12px
        &:first-child
          margin-left: 6px

  .fa-gear
    display: none

  .shrink
    height: 80px

  .shrink h2
    font-size: 13px
    transition: .5s
    line-height: 37px

  .box
    width: auto
    padding-left: 11.5
    margin: 0 auto
    height: 220px

  #intro
    padding: 120px 0 0 0
    p
      font-size: 22px
      text-indent: 50px

  .skills 
    ul
      width: 100px
    h3
      font-size: 18px
    li
      font-size: 16px

  #work 
    ul
      img
        width: 128.5px
        height: 192.5px
    h2
      font-size: 15px
      margin: 6px 0px

  .repeat li:nth-child(1) div img, .repeat li:nth-child(6) div img
    min-width: 269.5px

  .box p
    font-size: 12px

  .space
    display: none

  hr
    margin: 40px auto

  footer 
    div
      span
        font-size: 20px

  #details
    padding-top: 100px

  .button
    border: 2px solid black
    padding: 5px 10px
    font-size: 11px
    width: 110px

  .foot
    height: 200px
    min-width: 140px
    h3
      font-size: 12px
      margin-bottom: 10px
    p
      font-size: 11px
      margin-bottom: 5px
    a
      font-size: 11px
      margin-bottom: 0px
  footer
    img
      min-width: 150px
      height: 150px


/* James Greve 2015 */

