@import url(http://fonts.googleapis.com/css?family=Lato:300,600|Roboto+Condensed:400,600|EB+Garamond:400)

@font-face 
  font-family: Lato

::selection
  background: #ffbf83
  color: #fff

*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

html, body, div, header, footer, h2, h1, h3, a
  margin: 0
  padding: 0
  border: 0
  outline: 0
  color: #000
  font-family: 'Lato', serif
  &:hover
    color: #000

body
  background-color: #ffefd0

p, span
  font-weight: 300
  font-size: 14px
a
  &:hover
    border-bottom: 2px solid black
    text-decoration: none
  &:focus
    text-decoration: none
    color: #000
    border-bottom: 2px solid #ffefd0

section
  clear: both

section, div
  display: block

h1, h2
  clear: both
  text-transform: uppercase
  letter-spacing: .1em
  display: block

h1
  font-size: 36px
  text-align: center
  padding: 20px 0

h2
  font-size: 28px

h3
  font-size: 20px

ul
  list-style: none
  padding: none

.wrap
  padding: 0 50px

hr
  color: #333
  border-top: 1px solid black
  max-width: 100%
  margin: 80px auto

header 
  width: 100%
  position: fixed
  padding-right: 100px
  background-color: #ffefd0
  transition: .5s

.shrink
  height: 40px

.shrink h2
  font-size: 18px
  transition: .5s
  line-height: 28px

nav 
  display: flex
  width: 100%
  height: 100px
  transition: .5s
  display: -webkit-flex
  flex-direction: row
  -webkit-flex-direction: row
  align-items: flex-end
  justify-content: center
  h2
    margin-right: auto
    transition: .5s
    line-height: 40px
    font-family: "Roboto Condensed"
  li
    display: inline
  ul
    margin-bottom: 0
  a
    position: relative
    margin: 0
    font-weight: 600
    font-family: 'Roboto Condensed', serif
    text-transform: uppercase
    margin-left: 5px
    padding: 0
    font-size: 16px
    float: right
    border-bottom: 2px solid #ffefd0
    &:hover
      border-bottom: 2px solid black
      text-decoration: none
    &:focus
      text-decoration: none
      color: #000
      border-bottom: 2px solid #ffefd0

#intro
  padding: 200px 0 50px 0
  p
    font-size: 38px
    color: #000
    padding: 0 23px
    font-weight: 400
    text-indent: 150px
    font-family: 'EB Garamond', sans-serif
    margin: 40px 0

.skills ul
  padding: 0
  width: 200px

.skills
  display: flex
  display: -webkit-flex
  justify-content: center
  flex-direction: row

.skills h3
  font-family: 'Roboto Condensed'
  text-transform: uppercase
  font-size: 24px

.skills div ul
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

.skills li, .skills h3
  text-align: left

.right li, .right h3
  text-align: right
  padding-right: 30px

.skills li
  font-size: 20px
  font-family: "EB Garamond", serif

#work
  padding: 20px 0
  text-align: center
  display: flex
  flex-wrap: wrap
  img
    width: 257px
    height: 385px
  h2
    font-family: 'Roboto Condensed'

#work .boxlarge img
  width: 539px

.box 
  transition: .5s
  padding-left: 23px
  height: 440px
  overflow: hidden
  h2
    font-size: 13px
    margin-top: 5px

footer
  div
    display: flex
    flex-direction: column
    span
      font-size: 38px
      font-family: 'EB Garamond'
  img
    min-width: 200px
    height: 200px
    float: left
    margin-right: 10px

.quote
  align-items: center
  flex-direction: row

.foot
  width: 350px
  height: 200px

.foot h3
  margin-bottom: 15px
  font-size: 16px
  text-transform: uppercase
  font-family: 'EB Garamond', serif

.foot p, .foot a
  margin-bottom: 15px
  font-family: 'EB Garamond', serif

.foot a:hover
  border-bottom: none
  text-decoration: underline

.links
  display: flex
  flex-direction: row
  width: 100%
  padding: 80px 0
  justify-content: center

.links a
  font-size: 16px

.clear
  clear: both

@media screen and (max-width: 768px)

  .wrap
    padding: 0 10px

  h1
    font-size: 30px

  header
    padding-right: 15px
    a
      font-size: 15px
      line-height: 35px

  nav
    height: 80px
    h2
      font-size: 14px
      line-height: 40px
    li
      a
        font-size: 12px
        &:first-child
          margin-left: 10px

  .fa-gear
    display: none

  .shrink
    height: 50px

  .shrink h2
    font-size: 13px
    transition: .5s
    line-height: 37px

  .box
    width: 80%
    margin: 0 auto

  #intro
    padding: 120px 0 0 0
    p
      font-size: 22px
      text-indent: 50px

  .skills 
    ul
      width: 100px
    h3
      font-size: 18px
    li
      font-size: 16px
  #work h2
    font-size: 15px
    margin: 6px 0px

  .box p
    font-size: 12px

  .space
    display: none

  hr
    margin: 40px auto

  footer 
    div
      span
        font-size: 20px

  .foot
    height: 200px
    h3
      font-size: 12px
      margin-bottom: 10px
    p
      font-size: 11px
      margin-bottom: 5px
    a
      font-size: 11px
      margin-bottom: 0px



/* James Greve 2015 */

