<div class="about">
  <div class="main-img">
    <img class="sf" src="dist/img/rain.jpg">
  </div>

<div class="about">
  <p>The San Francisco Database is a catalogue of new and major construction projects in San Francisco. It includes residential, office, city infrastructure, parks, and other attractions in the area.</p>
  <p>I put sfDB together to better understand the flurry of recent changes in San Francisco, as well as to practice my web development skills.<p>
  <p> This site uses these technologies: HTML5, CSS3, SASS/SCSS, AngularJS + libraries, Angular Google Maps, Bootstrap, and packaged with Gulp. In addition to these, I can also work with jQuery, vanilla JavaScript, and any graphics editor. Contact me if you would like to know more about me or the sfDB. </p>
  <p><a class="btn admin pull-right" href="http://jamesgreve.com">SFDB Admin</a>
  </p>
</div>
<div class="clear"></div>