<div class="about summary">
  <p>The San Francisco Database is a catalogue of new and major construction projects in San Francisco. It includes residential, office, city infrastructure, parks, and other attractions in the area.</p>
  <p>I put sfDB together to better understand the flurry of recent changes in San Francisco, as well as to practice my web development skills.<p>
  <p>Contact me if you would like to know more about me or the sfDB. </p>
  <a class="btn admin pull-right" href="http://jamesgreve.com">SFDB Admin</a>
  </p>
</div>
<div class="clear"></div>