</section>
<h2 class="btitle">Blog</h2>
<div class="blog">
<h3 >
January 2015
</h3>

<p>
Updates to the site, including a reworking of the interface, an update of all dependencies, and cleaner code. I have also minimized the size of the image files, css files, and script files. Next steps involve adding new buildings, allowing for the dynamic creation of projects in a CRUD format, and improving the general look and feel of the site.
</p>
</div>

<div class="blog">
<h3>
September 2014
</h3>

<p>
Added several dozen new projects. Total now over 30. Might add animations to make the page seem more interactive and modern. Several different options for this exist. Removed Google Maps feature because of page loading problems and Angular compatibility issues. May add Angular support for this feature in the future.
</p>
</div>

<div class="blog">
<h3>
June 2014
</h3>
<p>
The site is live. Everything is written in HTML5, SASS, AngularJS, and Javascript. The images have been retrieved from Google searches, promotional websites, and city records. The intention is to demonstrate and build a working database of San Francisco new construction as of 2014, using AngularJS. Included the blog.
</p>
</div>