<section id="content">

<section>
<h1 class="text-center detail">{{box.name}}</h1>
<div>
<div class="images">
  <img ng-src="{{mainImageUrl}}" class="boxes animate" ng-repeat="img in box.images" ng-class="{active: mainImageUrl==img}">
<ul class="thumbs">
  <li class="animate" ng-repeat="img in box.images">
  <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
</div>
</div>
<div class="clear">
    <table class="table">
      <tr>
        <td>Project Type: {{box.type}} {{box.units}}</td>
        <td>Height: {{box.height}}</td>
      </tr>

    <tr>

    <td>Neighborhood: {{box.neighborhood}}</td>
    <td>Year of Completion: {{box.completion}}</td>
  </tr>
  <tr>
    <td>{{box.snippet}}</td>
    <td>Website: <a class="btn" href="{{box.website}}" target="_blank">{{box.website}}</a></td>
  </tr>
  </table>
</div>
</section>
<div class="clear"></div>
  </section>
