<section id="content">

<section class="content-data">
<h1 class="text-center detail">{{box.name}}</h1>
<div>
    <p>Type: {{box.type}}</p>
      <p>{{box.units}}</p>
      <p>Height: {{box.height}}</p>

    <p>{{box.neighborhood}}</p>
    <p>Opens {{box.completion}}</p>

    <p>{{box.snippet}}</p>
    <p><a class="btn" href="{{box.website}}" target="_blank">Website</a></p>

</div>
</section>

<section class="content-img">
<div class="images">
<ul class="thumbs">
  <li class="animate" ng-repeat="img in box.images">
  <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
</div>
</section>
  </section>
<div class="clear"></div>
