<section id="intro">
<h1>Blog</h1>
<p>Text</p>
<br><br><br>

</section>

<hr>
<footer id="footer">
<div class="links">
    <div class="foot">
      <h3>Education</h3>
      <p><i>Self Taught</i><br>Web Development &#8212; 1999 - Present</p>
      <p><i>New York University</i><br>MS Political Science &#8212; 2012</p>
      <p><i>Central Michigan University</i><br>BS Political Science &#8212; 2008<br>Computer Science</p>
    </div>
    <div class="foot">
      <h3>History</h3>
      <p><i>San Francisco</i><br>Freelance &#8212; 2012 - Present</p>
      <p><i>New York City</i><br>Legislative Aide &#8212; 2010 - 2012<br>Customer Services &#8212; 2008 - 2011</p>
      <p><i>Michigan</i><br>Born 1985</p>
    </div>
    <div class="foot">
        <h3>Contact</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank"><i>James Greve</i></a> 
        <p>in San Francisco, CA</p>
    </div>
    <div class="foot">
        <h3>Social</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank">Email <i class="fa fa-envelope"></i></a> <br>
        <a href="https://www.linkedin.com/in/tylerjamesgreve" target="_blank">Linked <i class="fa fa-linkedin-square"></i></a><br>
        <a href="https://www.facebook.com/Fimiak" target="_blank"><i class="fa fa-facebook"></i>acebook</a><br>
        <a href="https://twitter.com/tjgreve" target="_blank"><i class="fa fa-twitter"></i> Twitter</a><br>
        <a href="https://github.com/fimiak" target="_blank"><i class="fa fa-github-alt"></i> Github</a>
    </div>
</div>
</footer>