<br>

<section id="details">
	<h2>{{projects.name}}</h2><br>
    <a class="scroll button" href="#/"><i class="fa fa-undo"></i> Back to Profile</a>
    <p>Built with {{projects.tech}}</p>
	<p>{{projects.quote}}</p>
	<p>Year built: {{projects.year}}</p>
	<a class="button" href="{{projects.link}}" target="_blank"><i class="fa fa-long-arrow-right"></i> Visit Website</a>
	<img src="{{projects.images}}">

</section>
<hr>
<footer id="footer">
<div class="links">
    <div class="foot">
    </div>
    <div class="foot">
    </div>
    <div class="foot">
        <h3>Contact</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank"><i>Tyler James Greve</i></a> 
        <p>San Francisco, CA</p>
    </div>
    <div class="foot">
        <h3>Social</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank">Email <i class="fa fa-envelope"></i></a> <br>
        <a href="https://www.linkedin.com/in/tylerjamesgreve" target="_blank">Linked <i class="fa fa-linkedin-square"></i></a><br>
        <a href="https://www.facebook.com/Fimiak" target="_blank"></i>Facebook <i class="fa fa-facebook"></i></a><br>
        <a href="https://twitter.com/tjgreve" target="_blank">Twitter <i class="fa fa-twitter"></i> </a><br>
        <a href="https://github.com/fimiak" target="_blank">Github <i class="fa fa-github-alt"></i></a>
    </div>
</div>
</footer>
