<section id="intro">
  <p>I am a Front End Web Developer living in beautiful San Francisco. I work with designers, developers, and project managers to create stunning brand websites, code dynamic web apps using tools like Angular JS and ReactJS, and make3s responsive mobile experiences for the modern web.</p>
</section>

<section id="work">
<h1>Projects</h1>

<ul class="repeat">
	<li class="scroll" ng-repeat="project in projects">
	<div class="box">
	<a href="#/{{project.id}}">
	<img src="{{project.image}}">
	<h2>{{project.id}}</h2>
	<i>{{project.tech}}</i>
	</a>
	</div>
	</li>
</ul>

</section>
<hr>
<section id="skills">
<div class="clear"></div>
  <h1>Skills</h1>
<div class="skills">
  <div>
    <ul class="right"><h3>Core</h3>
      <li>HTML</li>
      <li>CSS</li>
      <li>ReactJS</li>
      <li>JavaScript</li>
      <li>Git / SVN</li>
      <li>AngularJS</li>
      <li>jQuery</li>
    </ul>
  </div>
  <div>
    <ul><h3>Beyond</h3>
      <li>Webpack</li>
      <li>SASS</li>
      <li>ReactJS</li>
      <li>NodeJS</li>
      <li>WordPress</li>
      <li>MySQL</li>
      <li>Bootstrap</li>
    </ul>
  </div>
  <div>
    <ul class="right"><h3>Strategy</h3>
      <li>User Interface</li>
      <li>JIRA</li>
      <li>Agile / SCRUM</li>
      <li>Amazon AWS</li>
      <li>Google Analytics</li>
      <li>A/B Tests</li>
      <li>Web Servers</li>
    </ul>
  </div>
  <div>
    <ul><h3>Creative</h3>
      <li>Copywriting</li>
      <li>Adobe CC</li>
      <li>Pixelmator</li>
      <li>Typography</li>
      <li>Social APIs</li>
      <li>Photography</li>
      <li>Sketch</li>
    </ul>
  </div>
</div>
</section>

<hr>
<footer id="footer">
<div class="quote">
  <img src="client/img/me.jpg" class="me">
  <span class="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&#8212; The best web developers use the most effective tools to merge the company's brand identity with the power of the web. </span>
</div>
<div class="links">
    <div class="foot">
      <h3>Education</h3>
      <p><i>New York University</i><br>MS Political Science &#8212; 2012</p>
      <p><i>Central Michigan University</i><br>BS Political Science &#8212; 2008<br>classes in Computer Science</p>
        <p><i>Self Taught</i><br>Web Development &#8212; 1999 - Present</p>
    </div>
    <div class="foot">
      <h3>Experience</h3>
      <p><i>San Francisco</i><br>Anoto Livescribe &#8212; 2015 - Present<br>Freelance &#8212; 2012 - Present</p>
      <p><i>New York City</i><br>Legislative Assistant &#8212; 2009 - 2010<br>Academic Research &#8212; 2011 - 2012</p>
      <p><i>Michigan</i><br>Born 1985</p>
    </div>
    <div class="foot">
        <h3>Contact</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank"><i>Tyler James Greve</i></a>
        <p>in San Francisco, CA</p>
    </div>
    <div class="foot">
        <h3>Social</h3>
        <a href="mailto:tylerjamesgreve@gmail.com" target="_blank">Email <i class="fa fa-envelope"></i></a> <br>
        <a href="https://www.linkedin.com/in/tylerjamesgreve" target="_blank">Linked <i class="fa fa-linkedin-square"></i></a><br>
        <a href="https://www.facebook.com/Fimiak" target="_blank"><i class="fa fa-facebook"></i>acebook</a><br>
        <a href="https://twitter.com/tjgreve" target="_blank"><i class="fa fa-twitter"></i> Twitter</a><br>
        <a href="https://github.com/fimiak" target="_blank"><i class="fa fa-github-alt"></i> Github</a>
    </div>
</div>
</footer>
