  <div class="database">
  <section class="sidebar">
  <div class="cat" ng-init="activeTab = 'none'">
    <a href="#/about"><div class="filters">Filters</div></a>
    <a ng-class="{'active':activeTab === 'none'}" ng-click='filterCriteria={}; currentPage=reset(); activeTab = "none"' data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-ban"></i></a>
    <a ng-class="{'active':activeTab === 'residential'}" ng-click='filterCriteria.type="residential"; currentPage=reset(); activeTab = "residential"' data-toggle="tooltip" data-placement="bottom" title="Residential"><i class="fa fa-home"></i></a>
    <a ng-class="{'active':activeTab === 'infrastructure'}" ng-click='filterCriteria.type="infrastructure"; currentPage=reset(); activeTab = "infrastructure"' data-toggle="tooltip" data-placement="bottom" title="Infrastructure"><i class="fa fa-truck"></i></a>
    <a ng-class="{'active':activeTab === 'office'}" ng-click='filterCriteria.type="office"; currentPage=reset(); activeTab = "office"' data-toggle="tooltip" data-placement="bottom" title="Office"><i class="fa fa-building"></i></a>
    <a ng-class="{'active':activeTab === 'attraction'}" ng-click='filterCriteria.type="attraction"; currentPage=reset(); activeTab = "attraction"' data-toggle="tooltip" data-placement="bottom" title="Attraction"><i class="fa fa-bank"></i></a>
  </div>

  <div>
    <a class="btn pager" ng-disabled="currentPage<1" ng-click="currentPage=currentPage-1"><i class="fa fa-angle-double-left fa-lg"></i></a><span class="pagerspan">Page {{currentPage+1}}/{{numberOfPages()}}</span>
    <a class="btn pager" ng-disabled="currentPage >= boxes.length/pageSize-1;" ng-click="currentPage=currentPage+1"><i class="fa fa-angle-double-right fa-lg"></i></a>
    </div>

<div class="">
  <div class="boxes repeat-item animate" ng-repeat="box in boxes | filter:filterCriteria | orderBy:orderProp | startFrom:currentPage*pageSize | limitTo: pageSize">
    <a href="#/{{box.id}}" active-link="active">
      <div class="work">
        <img class="pull-left" ng-src="{{box.imageUrl}}">
          <h3>{{box.name}}</h3>
      </div>
    </a>
  </div>
</div>
</section>

<section class="content" id="content">

<section class="content-data">
<table class="table table-striped table-bordered">
<thead>
<tr>
  <th colspan="5"><h2 class="text-center">{{box.name}}</h2></th>
</tr>
</thead>
<tbody>
    <tr>
      <th>Type</th>
      <th>Units</th>
      <th>Height</th>
      <th>Neighborhood</th>
      <th>Year Complete</th>
    </tr>
    <tr>
      <td>{{box.type}}</td>
      <td>{{box.units}}</td>
      <td>{{box.height}}</td>
      <td>{{box.neighborhood}}</td>
      <td>{{box.completion}}</td>
    </tr>
    <tr>
      <td colspan="5">{{box.snippet}}</td>
    </tr>
  </tbody>
</table>
  <a href="{{box.website}}" target="_blank"><div class="web">Website<i class="fa fa-arrow-circle-o-right"></i></div></a>
</section>


<section class="content-img">
<div class="images">
  <img ng-src="{{mainImageUrl}}" class="boxes" ng-repeat="img in box.images" ng-class="{active: mainImageUrl==img}">
<ul class="thumbs">
  <li class="animate" ng-repeat="img in box.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
</div>
</section>
  </section>
</div>
<div class="clear"></div>

